.QuizList{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow:1;
    width: 100%;
    background-color: #f6eec7;
    text-decoration: none
}

.QuizList h1{
    color:#000000;
    text-align: center;
}

th {
    font-size: 130%;
    font-weight: bold
}


