.edit{
    padding: 3px;
    transition: all .5s;
    /* border: 1px solid rgba(82,168,236, .5); */
}

.edit:focus{
    border: 1px solid rgba(82,168,236, 1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(82,168,236, 0.9);
    outline: 0;
}

.deleteIcon{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin: 4px;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
}
.deleteIcon:hover{
    cursor: pointer;
    background-color: #C0C0C0;
    background-position: 0 -96px;
    border-radius: 100%;
}