.discip{
    padding: 15px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 400px; 
}

.curator{
    padding: 15px; /* Поля вокруг текста */
    width: 400px; /* Ширина слоя */
    float: left;
}

