.Rpd{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow:1;
    widows: 100%;
    background-color: #f6eec7
}




.Rpd h1{
    text-align: center;
    margin: 2%;
    color:#000000;
}

.RpdTable{
    padding: 15px;
    border-radius:5px;
    background-color: while;
    width: 100%;
    border-collapse: collapse;
    border:1px;
    
}


td{
    text-align:center;
    font-size: 140%;
    width:200px;

}




